:root {
    --main-font: 'Roboto', sans-serif;
    --color-acsent: rgb(33, 150, 243);
    --title-color: #212121;
    --text-color: #757575;
    --contacts__link-color: rgba(255, 255, 255, 0.6);
    --main-fon: #fff;
    --h-title-color: #000;
    --hero-fot-color: #2f303a;
    --team-color: #f5f4fa;
    --gradient-color: rgba(47, 48, 58, 0.4);
    --icon-color: #afb1b8;
    --tipeofwork__name-color: rgba(47, 48, 58, 0.8);
    --color-overlay: rgba(33, 150, 243, 0.9);
    --modal-fon-color: rgba(0, 0, 0, 0.2);
    --color-acsent-hover: #188ce8;
    --input-border-color: rgba(33, 33, 33, 0.2);
    --transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}