.hero {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--hero-fot-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
        url(../../images/hero/mobile/bg.jpg);

    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
        screen and (min-resolution: 192dpi) and (max-width: 767px),
        screen and (min-resolution: 2dppx) and (max-width: 767px) {
        & {
            background-image: linear-gradient(
                    to right,
                    var(--gradient-color),
                    var(--gradient-color)
                ),
                url(../../images/hero/mobile/bg@2x.jpg);
        }
    }

    @media screen and (min-width: 768px) {
        & {
            background-image: linear-gradient(var(--gradient-color), var(--gradient-color)),
                url(../../images/hero/tablet/bg.jpg);
        }
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
            screen and (min-resolution: 192dpi) and (min-width: 768px),
            screen and (min-resolution: 2dppx) and (min-width: 768px) {
            & {
                background-image: linear-gradient(
                        to right,
                        var(--gradient-color),
                        var(--gradient-color)
                    ),
                    url(../../images/hero/tablet/bg@2x.jpg);
            }
        }
    }

    @media screen and (min-width: 1200px) {
        & {
            background-image: linear-gradient(var(--gradient-color), var(--gradient-color)),
                url(../../images/hero/desktop/bg.jpg);
            padding-top: 200px;
            padding-bottom: 200px;
        }
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
            screen and (min-resolution: 192dpi) and (min-width: 1200px),
            screen and (min-resolution: 2dppx) and (min-width: 1200px) {
            & {
                background-image: linear-gradient(
                        to right,
                        var(--gradient-color),
                        var(--gradient-color)
                    ),
                    url(../../images/hero/desktop/bg@2x.jpg);
            }
        }
    }
}

.first-title {
    font-weight: 900;
    font-size: 20px;
    line-height: 1.71;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--main-fon);

    @media screen and (min-width: 480px) {
        & {
            font-size: 26px;
            line-height: 1.62;
        }
    }

    @media screen and (min-width: 1200px) {
        & {
            font-size: 44px;
            line-height: 1.37;
        }
    }
}
